@import "tailwindcss";

/* body {
    overflow-x: hidden;
  }

div > li{
    list-style: none;
  } */

.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
h3{
  font-weight: 600;
  padding: 10px 0;
}